.color-grey-1 {
	color : #484848
}

.color-grey-2 {
	color: #bebebe;
}

a{
	-webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

a:hover{
	text-decoration: none;
}